<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Create Student</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
	<section th:insert="Layouts/Layouts::nav"></section>
	<div class="container">
		<form th:acction="@{/students/create}" th:object="${student}" method="post">
			<label>Name: </label>
			<input class="form-control" type="text" name="name" th:field="*{name}"/>
			<br>
			<label>Last name: </label>
			<input class="form-control" type="text" name="lastName" th:field="*{lastName}"/>
			<br>
			<label>Phone: </label>
			<input class="form-control" type="number" name="phone" th:field="*{phone}"/>
			<br>
			<label>Dni: </label>
			<input class="form-control" type="number" name="dni" th:field="*{dni}"/>
			<br>
			<button class="btn btn-light" type="submit">
				Create student
			</button>
		</form>
		<a th:href="@{/students}">Go back</a>
	</div>
	</body>
</html>