<!DOCTYPE html>

<html>
	<head>
		<title>Update Student</title>
	</head>
	<body>
		<form th:object="${student}" th:acction="@{/students/update/{id}(id = ${student.id})}") method="post">
			<label>Name: </label>
			<input type="text" name="name" th:field="*{name}"/>
			<br>
			<label>Last name: </label>
			<input type="text" name="lastName" th:field="*{lastName}" />
			<br>
			<label>Phone: </label>
			<input type="number" name="phone" th:field="*{phone}" />
			<br>
			<label>Dni: </label>
			<input type="number" name="dni" th:field="*{dni}" />
			<br>
			<button type="submit">
				Edit student
			</button>
		</form>
		<a th:href="@{/students}">Go back</a>
	</body>
</html>