<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8" />
		<title>Registration Manager</title>
	</head>
	<body>
		<a th:href="@{/register/create}">Create Register</a>
		<a th:href="@{/}">Go back to main menu</a>
		<table>
			<thead>
				<tr>
					<td>Id</td>
					<td>Code of subject</td>
					<td>Dni of student</td>
					<td>Acctions </td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="register: ${registers}">
					<td th:text="${register.id}"></td>
					<td th:text="${register.subject.code}"></td>
					<td th:text="${register.student.dni}"></td>
					<td>
						<a th:href="@{/register/delete/{id}(id = ${register.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>