<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">
	<head>
			<title>Subjects </title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
	<section th:insert="Layouts/Layouts::nav"></section>
	<div class="container">
		<h1 style="text-aling: center">Subjects</h1>
		<br><br>
		<button class="btn btn-light"><a th:href="@{/subjects/create}">Create subject</a></button>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Code</th>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="subject: ${subjects}">
					<td th:text="${subject.id}"></td>
					<td th:text="${subject.code}"></td>
					<td th:text="${subject.name}"></td>
					<td> 
						<a th:href="@{/subjects/update/{id}(id = ${subject.id})}">Edit</a> | 
					 	<a th:href="@{/subjects/delete/{id}(id = ${subject.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	</body>
</html>