<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Create user </title>
	</head>
	<body>
		<form th:acction="@{/create}" th:object="${user}" method="post">
			<label>Name: </label>
			<input type="text" name="name" th:field="*{name}"/>
			<br>
			<label>Username: </label>
			<input type="text" name="username" th:field="*{username}"/>
			<br>
			<label>Email: </label>
			<input type="email" name="email" th:field="*{email}"/>
			<br>
			<label>Password: </label>
			<input type="password" name="password" th:field="*{password}"/>
			<button type="submit">
				Create user 
			</button>
			<br>
		</form>
		<a th:href="@{/users}">Go back</a>
	</body>
</html>