<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	  layout:decorate="~{./layouts/skeleton}">
	<head>
		<title>Create Client</title>
		  <script src="https://cdn.tiny.cloud/1/0qkltra4o6ri4t9k2nxzjqnwkf50hv4jm4ajv0vfuztkhmcg/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	</head>
	<body>
		<span layout:fragment="TITLE_PAGE">Create Client</span>
	  	<main layout:fragment="CONTENT_PAGE">
	  		<form th:action="@{/clients/create}" th:object="${client}" method="post" class="form-control" enctype="multipart/form-data">
	  			<input th:field="*{image}" value="sampletext" hidden/>
	  			<div class="mb-3 row">
    				<label class="col-sm-2 col-form-label">Name: </label>
    				<div class="col-sm-10">
      					<input type="text" class="form-control" name="name" th:field="*{name}">
      					<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback" th:errors="*{name}">
      						
      					</div>
    				</div>
  				</div>
    			<div class="mb-3 row">
    				<label class="col-sm-2 col-form-label">Last name: </label>
    				<div class="col-sm-10">
      					<input type="text" class="form-control" name="lastName" th:field="*{lastName}">
      					<div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback" th:errors="*{lastName}">
      						
      					</div>
    				</div>
  				</div>
    			<div class="mb-3 row">
    				<label  class="col-sm-2 col-form-label">Dni: </label>
    				<div class="col-sm-10">
      					<input type="number" class="form-control" name="dni" th:field="*{dni}">
      					<div th:if="${#fields.hasErrors('dni')}" class="invalid-feedback" th:errors="*{dni}">
      						
      					</div>
    				</div>
  				</div>
    			<div class="mb-3 row">
    				<label class="col-sm-2 col-form-label">Email: </label>
    				<div class="col-sm-10">
      					<input type="email" class="form-control" name="email" th:field="*{email}">
      					<div th:if="${#fields.hasErrors('email')}" class="invalid-feedback" th:errors="*{dni}">
      						
      					</div>
    				</div>
 				</div>
    			<div class="mb-3 row">
    				<label class="col-sm-2 col-form-label">Address: </label>
    				<textarea type="text" th:field="*{address}"></textarea>
    				<div th:if="${#fields.hasErrors('address')}" class="invalid-feedback" th:errors="*{address}">
      						
      				</div>
  				</div>
  				<div class="mb-3">
  					<label for="formFile" class="form-label">Foto de perfil</label>
  					<input class="form-control" type="file" name="imageFile" accept="jpeg, png, jpg">
				</div>
  				<div class="mb-3">
  					<button type="submit" class="btn btn-primary">Create</button>
  				</div>
	  		</form>
	  			<div class="alert alert-dismissible fade show alert-danger" th:if="${message != null}" role="alert" >
  					<span th:text="${message}"></span>
  					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
	  	</main>
	</body>
</html>