<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	  layout:decorate="~{./layouts/skeleton}">
	<head>
		<title>Update Client</title>
	</head>
	<body>
		<span layout:fragment="TITLE_PAGE">Update Client</span>
	  	<main layout:fragment="CONTENT_PAGE">
	  		<form th:action="@{/clients/update/{id}(id = ${client.id})}" th:object="${client}" method="post" class="form-control" enctype="multipart/form-data">
	  			<div class="mb-3 row">
    				<label class="col-sm-2 col-form-label">Name: </label>
    				<div class="col-sm-10">
      					<input type="text" class="form-control" name="name" th:field="*{name}">
    				</div>
  				</div>
    			<div class="mb-3 row">
    				<label class="col-sm-2 col-form-label">Last name: </label>
    				<div class="col-sm-10">
      					<input type="text" class="form-control" name="lastName" th:field="*{lastName}">
    				</div>
  				</div>
    			<div class="mb-3 row">
    				<label  class="col-sm-2 col-form-label">Dni: </label>
    				<div class="col-sm-10">
      					<input type="number" class="form-control" name="dni" th:field="*{dni}">
    				</div>
  				</div>
    			<div class="mb-3 row">
    				<label class="col-sm-2 col-form-label">Email: </label>
    				<div class="col-sm-10">
      					<input type="email" class="form-control" name="email" th:field="*{email}">
    				</div>
 				</div>
    			<div class="mb-3 row">
    				<label class="col-sm-2 col-form-label">Address: </label>
    				<div class="col-sm-10">
      					<input type="text" class="form-control" name="address" th:field=*{address}>
    				</div>
  				</div>
  				<div class="mb-3">
  					<button type="submit" class="btn btn-primary">Update</button>
  				</div>
	  		</form>
	  	</main>
	</body>
</html>