<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Game</title>
	</head>
	<body>
		<a th:href="@{/}">Volver a la pagina principal</a>
		<form th:action="@{/create}" th:object="${game}" method="post">
			<input type="number" name="id" th:field="*{id}" hidden/>
			<label>Nombre: </label>
			<input type="text" name="name" th:field="*{name}"/>
			<br />
			<label>Descripcion: </label>
			<input type="text" name="descripcion" th:field="*{description}"/>
			<br />
			<label>Genero: </label>
			<input type="text" name="gender" th:field="*{gender}"/>
			<br />
			<label>Estudio: </label>
			<input type="text" name="studio" th:field="*{studio}"/>
			<br />
			<label>Empresa: </label>
			<input type="text" name="publisher" th:field="*{publisher}"/>
			<br />
			<label>Price: </label>
			<input type="number" name="price" th:field="*{price}"/>
			<br />
			<button type="submit">	
				Update game
			</button>
		</form>	
	</body>
</html>